# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


__pycache__/
*.pyc
*.pyo
*.pyd
src-cpp/modules/grpc/generated/
src-py/generated/
src-py/grpc/generated/
src-py/received_frames/
src-py/grpc/received_frames/


src-cpp/modules/*/test/bin/
src-cpp/modules/*/test/*.bak
vcpkg/
vcpkg_installed/
build/
.vs/
bin/
lib/
CMakeFiles/
target/
*.bak
CMakeCache.txt
src-cpp/modules/inference/test/yolov5_model/
src-cpp/modules/inference/test/*.png
*.cmake


